In [4]:
a = 1

a
import numpy

In [8]:
1e-4

0.0001

In [19]:
'key is {k}, value is {v}'.format(k='KEY', v='VALUE')

'key is KEY, value is VALUE'

In [20]:
'hello_world'.split('_')

['hello', 'world']

In [24]:
''.join(['hello', 'world'])

'helloworld'

In [25]:

dict1 = {'key1':'value1', 'key2':2}

In [26]:
dict1

{'key1': 'value1', 'key2': 2}

In [27]:
dict1['key1']

'value1'

In [28]:
set={1,1,1,1,2,2,2,3,3,}
set

{1, 2, 3}

In [30]:
'w' in ['w','o','r','l','d']

True

In [34]:
a = 1

In [35]:
if a == 2:
    print('a is 2')
else:
    print('a is not 2')

a is not 2

In [36]:
print('a is 2') if a == 2 else print('a is not 2')

a is not 2

In [41]:
colors = ['red', 'blue']
for color in colors:
    print(color)

red
blue

In [39]:
colors = ['red', 'blue']
for idx, color in enumerate(colors):
    print('{}: {}'.format(idx, color))

0: red
1: blue

In [42]:
[ color + '.png' for color in colors ]

['red.png', 'blue.png']

In [44]:
i = 0
while i < 5:
    print(i)
    i += 1

0
1
2
3
4

In [45]:
iter(colors)

In [50]:
colors_i = iter(colors)

In [52]:
next(colors_i)

'blue'

In [53]:
r = range(10)
list(r)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]

In [57]:
a = 4
print(id(a))
a = 2
print(id(a))

94422495691616
94422495691552

In [59]:

def append_elem(list_param, elem=0):
    list_param.append(elem)
    return list_param

list_a = [1,2,3]
list_b = append_elem(list_a, elem=4)

In [60]:
list_a

[1, 2, 3, 4]

In [61]:
def print_id(param):
    a += 1
    print(id(param))
    
a = 5
print(id(a))
print_id(a)

94422495691648
94422495691648